{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

  <div class="auth-card">
    <h2 class="auth-title">Create account ✨</h2>
    <p class="auth-sub">Start organizing your tasks</p>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="auth-btn">Register</button>
    </form>

    <div class="auth-footer">
      Already have an account?
      <a href="{% url 'login' %}">Login</a>
    </div>
  </div>

</body>
</html>
